body {
  font-family: Helvetica, Arial, sans-serif; 
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
}

.questionWrapper {
  width: 800px;
  margin:0 auto;
}

.questionWrapper_viewPage {
  width: 800px;
  margin:0 auto;
  margin-left: 170px;
}

.question_display {
    list-style-type: none;
}

.each_question {
  font-size: 19px;
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.25;
  font-weight: bold;
  padding: 15px 0 0 0;
  color: #000;
  text-decoration: none;  
}

.display_userId {
  color:#aaa;
  font-size: 13px;
  display: inline-block;
  opacity: 0;
  margin: 0 5px 0 5px;
}

.display_userId_question {
  color:#aaa;
  font-size: 13px;
  display: inline-block;
  padding-top: 5px;
}

.each_question:hover .display_userId {
  opacity: 1;
}

.answer_edit:hover .display_userId {
  opacity: 1;
}

.each_tag {
  padding:0;
  list-style-type: none;
}

.each_tag_display {
  letter-spacing: -0.5px;
  line-height: 1.25;
  cursor: pointer;
  float:left;
  line-height: 1.2em;
  font-size: 13px;
  font-weight: 500;
  color: #808393;
  background-color: #eee;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 12px;
  padding: 4px 8px;
  border: 0;
}

.each_tag_display, a:visited, a:link {
  color: #808393;
}

.each_tag_display:hover {
  background-color: #bbb;
}

.each_tag_display:hover a {
  color: #111;
}

.date_info_display {
  letter-spacing: -0.5px; 
  float:left;
  line-height: 1.2em;
  font-size: 13px;
  font-weight: 500;
  color: #808393;  
  margin-right: 4px;
  margin-bottom: 4px;  
  padding: 4px 8px 0 0;
}

.date_info_display:after {
  content: '';
  width: 0;  
  line-height: 6px;
  border-right: 1px solid #999;
  position: relative;
  top: 1px;
  left: 5px;
}

#header {
  position: fixed;
  top:0;
  width:100%;
  background: #fff; 
  z-index: 98;
}

.content {
  padding: 70px 10px 0;
}

#header .wrapper {
  border-bottom: 1px solid #ddd;
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.light-text {
  color:#aaa;
  font-size: 12px;
}

#logo {  
  background-image: url(/img/icon_home.png);
  background-size: 24px 24px;
  background-position: 10px;
  background-repeat: no-repeat;
  background-color: #243EED;  
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  padding-left: 40px;
  padding-top: 12px;
}

#logo:hover {  
  background-color: #1C33C9;
}

#navlist li
{
  display: inline-block;
  list-style-type: none;
  margin: 0 10px;
}

#navlist li a:link, #navlist li a:visited{
  text-decoration: none;
  color: #243EED;
  font-weight: bold;
}

#navlist li a:hover {
  color: #1C33C9;
}

.overlay {
  position:absolute;
  top:0;left:0;right:0;bottom:0;
  z-index:99;
  background-color: rgba(0,0,0,0.3);
}

.modal {
  width: 400px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin: auto;
  position: absolute;
  left:0; right:0; top:100px;
  padding: 15px;
}

.tags_display {
  margin:0;
  padding:0;
  list-style:none;
}

.tags_display li {
  letter-spacing: -0.5px;
  line-height: 1.25;
  float:left;
  line-height: 1.2em;
  font-size: 13px;
  font-weight: 500;
  color: #808393;
  background-color: #eee;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 12px;
  padding: 4px 8px;
  border: 0;
}

.tags_display li:hover {
  color: #000;
  background:#bbb;
}

.close_img {
  background-image: url(/img/tag_close.gif);
  width:12px;
  height:12px;
  position: relative;
  top: 2px;
  left: 5px;
  background-size: 12px 12px;
  display: inline-block;
  opacity: 0;
}

.tags_display li:hover .close_img{
  opacity: 1;
}

.tags_display li:hover:before{border-color:transparent #555 transparent transparent;}

.remove_tag {
  margin-top: 2px;
  margin-left: 10px
}

#tag_div, #displayQuestion {
  float: left;
}

#tag_div {
  width: 150px; 
}

#displayQuestion {
  width: 700px;
}

.grid_page {
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e2e2e2;
}

.display_answer {
  padding: 16px 0;
  border-top: 1px solid #e2e2e2;
  position: relative;
}

.question_link {
  color: #000;
  text-decoration: none;  
}

.question_link:hover {  
  text-decoration: underline;
}

.question_link:visited {
  color: #000;
}

.upVote {
  float: left;
  margin-right: 9px;
  font-size: 13px;
  margin: 0 0 -16px 0;
  bottom: 0;
  clear: left;
  /*position: relative;*/
  border-radius: 2px;
  display: inline-block;
  font-weight: 500;
  outline: 0;
  padding: 3px 7px 4px 7px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
  border-radius: 3px;
  background: #f1f8fb;
  color: #2b6dad;
  border: 1px solid #bbcadc;
  transition: all ease-out 100ms;
  margin-right: 5px;
}

.count {
  border-radius: 3px;
  font-weight: bold;
  min-width: 10px;
  padding: 2px 3px;
  margin: 0 0 0 4px;
  text-align: center;
  display: inline-block;
  float: none;
  background: 0;
  color: #2b6dad;
  padding: 0;
  margin: 0;
  margin-left: 6px;
  padding-left: 6px;
  transition: all ease-out 100ms;
  position: relative;
}

.count:before {
  width: 1px;
  height: 14.5px;
  content: "";
  position: absolute;
  left: 0;
  background: #a9ccee;
  top: 1px;
}

.downVote a{
  margin: 0;
  font-size: 13px;
  padding: 5px 0 0 0;
  background: 0;
  color: #999;
  font-weight: normal;
  display: inline-block;
  border: 0;
  margin-left: 15px;
  text-decoration: none;

}

.downVote:before {
  margin-left: 10px
}

.actionBar {
  padding: 0 8px 0 8px;
}

.answer_count {
  font-size: 11px;
  color: #666;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: bold;
  padding-bottom: 8px;
}

.display_userId:hover {
  text-decoration: underline;
}

.display_tags { 
  position: fixed;
  top: 102px;
  background: #fff; 
  z-index: 98;
  padding-top: 0;
}

.btn {
  background: #243EED;
  background-image: -webkit-linear-gradient(top, #243EED, #4960f5);
  background-image: -moz-linear-gradient(top, #243EED, #4960f5);
  background-image: -ms-linear-gradient(top, #243EED, #4960f5);
  background-image: -o-linear-gradient(top, #243EED, #4960f5);
  background-image: linear-gradient(to bottom, #243EED, #4960f5);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
  text-decoration: none;
  border-width: 0;
}

.btn:hover {
  background: #1C33C9;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #1C33C9, #0e25b8);
  background-image: -moz-linear-gradient(top, #1C33C9, #0e25b8);
  background-image: -ms-linear-gradient(top, #1C33C9, #0e25b8);
  background-image: -o-linear-gradient(top, #1C33C9, #0e25b8);
  background-image: linear-gradient(to bottom, #1C33C9, #0e25b8);
  text-decoration: none;
}

.col {
  float: left;
}

.col-right {
  float: right;
}

.row:before,
.row:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.row:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.row {
  *zoom: 1;
}