.wrapper {
    width: 980px;
    margin: 0 auto;
}

#header {
    position: fixed;
    top:0;
    width:100%;
    background-color: #B80015;
    border-bottom: 1px solid #960011;
}

#logo {
    font-family: 'Merriweather';
    font-weight: 700;
    letter-spacing: 0px;
    color: #fff;
    margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active {
  background-image: none;
}

.btn-primary {
  color: #fff;
  background-color: #004DDB;
  border-color: #003699;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #0045C4;
  border-color: #003699;
}
.btn-primary:active,
.btn-primary.active {
  background-image: none;
}

#header a {
    padding: 16px 12px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    opacity: 0.8;
}

#header li:hover>a {
    opacity: 1;
    background-color:#9E0012;
}

#header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#header li {
  position: relative;
  float: left;
}

#header li ul {
  background: #fff;
  padding: 0;
  display: none;
  position: absolute;
  top: 100%;
  right: 10px;
  width: 130px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

#header li ul li {
  float: none;
  border-top: 1px solid #ddd;
}

#header li ul li:first-child {
  border: none;
}

#header li ul a {
  padding: 10px 15px;
  color: #333;
  font-size: 13px;
  display:block;
}

#header li ul li:hover a, #header li ul a:hover {
  background-color: #eee;
}

#header li:hover ul {
  display: block;
}

.small-strong {
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}

.overlay {
  position: absolute;
  top: 0;left:0;right:0;bottom:0;
  background: rgba(255,255,255,0.8);
  z-index: 999;
}

.modal {
  width: 400px;
  background: #fafafa;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(200,200,200,0.6);
  border-radius: 3px;
  margin: auto;
  position: absolute;
  top:100px; left:0; right:0;
}

.modal h3 {
  margin: 5px 0 15px 0;
  font-size: 16px;
}

.modal-content {
  padding : 15px;
}

.ico-close {
  background-image: url(/img/close.png);
  width: 16px;
  height: 16px;
  opacity: 0.6;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.ico-close:hover {
  opacity: 1;
}

.col {
    float: left;
}

.col-right {
    float: right;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.row {
    *zoom: 1;
}