{% extends "page-template.html" %}

{% block content %}	

	<div class="questionWrapper content">
		<div id="displayQuestion">
			<ul class="question_display">
				{% for q in question %}
					<div class="display_question">
						<ul class="each_tag row">
							{% for tag in q.tags %}
								<li class="each_tag_display"><a style="text-decoration:none" href='/tag?tag={{ tag }}'>{{ tag }}</a></li>
							{% endfor %}
						</ul>
						<ul class="each_tag row">
							<li class="date_info_display">Created on: {{ q.createdDate }}</li>
							<li class="date_info_display">Last Activity: {{ q.modifiedDate }}</li>
						</ul>				
						<div class="each_question"><a class="question_link" href="/viewQuestion?q={{q.key.id}}">{{ q.title }}</a>						
						{% if user %}
							<span class="display_userId"> - {{ q.userId }}</span>
						{% endif %}
						</div>
						<br/>

						<div class="actionBar">
							<div class="upVote" onclick='vote("{{ q.key.id }}", "{{ userLogin }}", "up")'>
								Upvote
								<span class="count">
									{{ q.voteCount }}
								</span>
							</div>
							<div class="downVote">
								<a href="#" onclick='vote("{{ q.key.id }}", "{{ userLogin }}", "")'>
								Downvote
								</a>
							</div>			
							<br/>
						</div>

						<hr class="style-three"/>
					</div>
				{% endfor %}
			</ul>
		</div>		
	</div>
{% endblock %}