{% extends "page-template.html" %}

{% block content %}

	<div id='tag_div' class="display_tags content">
		<h4 class="grid_page">
			QUESTION TOPICS			
		</h4>		
		<ul class="each_tag row">
			{% for tag in question.tags %}
				<li class="each_tag_display"><a style="text-decoration:none" href='/tag?tag={{ tag }}'>{{ tag }}</a></li>
			{% endfor %}
		</ul>
	</div>	
	<div id="displayQuestion" class="questionWrapper content">						
		<div class="each_question">
			{{ question.title }}					
		</div>
		{% if user %}
			<div class="display_userId_question"> - {{ question.userId }}</div>
		{% endif %}
		<br/><br/>
		<div class="actionBar">
			<div class="upVote" onclick='vote("{{ question.key.id }}", "{{ userLogin }}", "up")'>
				Upvote
				<span class="count">
					{{ question.voteCount }}
				</span>
			</div>
			<div class="downVote">
				<a href="#" onclick='vote("{{ question.key.id }}", "{{ userLogin }}", "")'>
				Downvote
				</a>
			</div>			
			<br/>
		</div>
		<hr/>

		<!--ul class="question_display"-->
		<div class="answer_count">
			{{ answers|length }} ANSWERS
		</div>
			{% for a in answers %}
				<div class="display_answer">{{ a.body }}
				{% if user %}
					<div class="display_userId_question"> - {{ a.userId }}</div>
				{% endif %}
				</div>
				<div class="actionBar">
					<div class="upVote" onclick='vote("{{ a.key.id }}", "{{ userLogin }}", "up")'>
						Upvote
						<span class="count">
							{{ a.voteCount }}
						</span>
					</div>
					<div class="downVote">
						<a href="#" onclick='vote("{{ a.key.id }}", "{{ userLogin }}", "")'>
						Downvote
						</a>
					</div>			
					<br/>
				</div>
			{% endfor %}
		<!--/ul-->
		{% if user %}			
			<textarea style="width:100%;height:100px;margin-top:15px" id="answer" name="answer"></textarea><br/><br/>
			<input type="button" value="Answer" onclick='postAnswer("{{ question.key.id }}")' />			
		{% endif %}
	</div>
		
{% endblock %}