{% extends "page-template.html" %}

{% block content %}

	<div class="content" style="padding: 70px 0 0">
		<div>
			<input type="button" class="btn" value="Upload Image" onclick="uploadImage()"/>
		</div>
		<div class="img-grid row">
			{% for img in images %}
			<div class="col img-cell">
				<a href="{{ image_url }}{{ img }}"><img src="{{ image_url }}{{ img }}" /></a>		
			</div>
			{% endfor %}
		</div>
	</div>

	<div id="uploadImage" style="display:none">
			<div class="overlay">
				<div class="modal">
					<a href="#" onclick="closeUploadImage()"><img src="/img/close.jpg" align="right"></a>
					<h2>Upload Image</h2>
					<form action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
						<div><input id="file" class="upload_image_input" type="file" name="file" accept='image/*'></div>
						<div><input class="btn" type="submit" id="add_question_button" value="Upload" /></div>						
					</form>
				</div>
			</div>	
		</div>

{% endblock %}